* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {

  display: flex;
  justify-content: center;
  font-family:  sans-serif;
  font-size: 3vw;
  padding: 4px;

  font-weight: 500;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 5vw;
    padding: 30px;
  }
}